/*desktop*/
@media only screen and (max-width: 1200px){
	html{
		font-size: 16px;
	}
	.heading-main-box{
		transform: translate(-35%,-50%);
	}
	form{
		margin-left: 30%;
	}
}
/*tablet*/
@media only screen and (max-width: 1023px){
	html{
		font-size: 14px;
	}

	.logo{ 
		width: 160px;
		margin-left: 40px;
	}
	.main-nav{
		margin-top: 40px;
		margin-right: 35px;
	}
	.main-nav li{
		margin-right: 10px;	
	}

	.heading-main-box{
		transform: translate(-20%,-50%);
	}
	.products-section .btn{
		width: 80%;
		margin-left: 10%;
	}
	.product-box{
		width: 90%;
	}
	h3{
		font-size:90%;
	}

	.product-box ul li{
		margin-left: 5%;
	}
	.product-box{
		height: 290px;
	}
	.social-icons li i{
		font-size: 100%;
		margin-right: -10px;
	}
	.about-picture{
		width: 40%
	}
	.about-picture img{
		margin-left: 22%;
		width: 250px;
	}

	.picture-title{
	margin-left: 42%;
	width: 60%; 
	font-size: 150%;
	}
	.first{
		margin-left: 14px;
	}

}
/*phone*/
@media only screen and (max-width: 767px){
	.col{
		width: 100%;
	}

	.logo{ 
		width: 100px;
		margin-top: 60px;
		margin-left: 45px;
	}
	ul.main-nav{
		display: none;
		margin-top: 80px !important;
		margin-right: 45px;
	}

	.sticky ul.main-nav{
		display: none;
		margin-top: 35px !important;
		margin-right: 45px;
	}
	.main-nav li a {
		top: 95px;
	}
	.mobile-nav-icon{
		top:75px;
		right:20px;
		visibility: visible;
	}
	.sticky .mobile-nav-icon{
		top: 25px;	
	}
	
	.product-box ul li{
		margin-left: 180px;
	}
	section.testimonials-section{
	height: 80vh;
	}

	cite{
	display: inline-block;
	margin-left: 10px;
	}
	cite img{
	height: 40px;
	}
	.information {
		margin-top: 15px;
    	margin-left: 160px;
    	font-size: 120%;
	}
	.social-icons{
		margin-left: 120px;
		font-size: 120%;
	}
	form{
	margin-left: 10%;
	width: 80%;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
	.about-picture{
	width: 40%;
	}
	.about-picture img{
		margin-left: 25%;
		width: 90%;
	}

	.picture-title{
	margin-left: 40%;
	width: 60%; 
	font-size: 120%;
	}
	.product-box {
	    margin-left: 5%;
	    margin-bottom: 40px;
	}
	h3{
		font-size: 120%;
		padding-top: 15px;
	}
	.picture-title{
		margin-left: 50%;
		font-size: 150%;
	}

}
/*small phone*/
@media only screen and (max-width: 480px){
	
}