/*--------------------DEFAULT SETUP----------------------*/
/*--------------------DEFAULT SETUP----------------------*/
/*--------------------DEFAULT SETUP----------------------*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;

}
body{
	overflow-x: hidden;
}


/*--------------------reusable components----------------------*/
/*--------------------reusable components----------------------*/
/*--------------------reusable components----------------------*/
.row{
	max-width: 1140px;
	margin: 0 auto;
}
.point{
	cursor: pointer;
}

.clearfix::after{
	content: " ";
	display: table;
	clear: both;
}

.btn{
	text-decoration: none;
	color: white;
	background-color: #ff9f00;
	padding: 15px 30px;
	border-radius: 20px;
	/*tách 2 button*/
	margin: 0 5px;
	/*inline không chỉnh được width và heigth*/
	display: inline-block;
	width: 190px;
	text-align: center;
	transition: all 0.75s;
	font-weight: 600;
	
}
.btn:hover,
.btn:active{
	background-color: #FFC25D;	
}

h1,h2, h2{
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*Nên sử dụng theo %*/
h1{
	font-size: 300%;
	font-weight: 400;
	word-spacing: 5px;
	color: white;
	line-height: 135%;
	margin-bottom: 50px;
}
h2{
	color :#e67e22;
	font-size:180%;
	font-weight: 700;
	text-align: center;
}
/*dòng kẻ ở dưới*/
h2:after{
	content: " ";
	display: block;
	width: 150px;
	height: 3px;
	background-color: rgba(230,126,34,0.4);  
	margin: 0 auto;
	margin-top: 5px;
}
h3{
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #265077;
	color:white;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-bottom: 15px;
}
.p-long{
	text-align: center;
	color: #265077;
	font-size: 22px;
	margin: 40px auto;
	width: 70%;
	margin-left: 15%;

}
section{
	padding: 50px;
}
.small-icon{
	color: #265077;
	font-size: 120%;
	margin-right: 15px;
}
/*----------------MOBILE-------------------*/
/*----------------MOBILE-------------------*/
/*----------------MOBILE-------------------*/
.mobile-nav-icon{
	font-size: 250%;
	color: #6b95bd;
	position: absolute;
	top: 75px;
	right: 80px;
}


/*----------------STICKY-------------------*/
/*----------------STICKY-------------------*/
/*----------------STICKY-------------------*/
.sticky{
	background-color: rgb(2, 33, 64, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;	
	height: 90px;
}
.sticky .logo{	
	width: 140px;
	margin-top: 20px;
}
.sticky .main-nav{
	margin-top: 30px;
}
/*--------------------HEADER----------------------*/
/*--------------------HEADER----------------------*/
/*--------------------HEADER----------------------*/
header{
	background-image: linear-gradient(45deg,rgb(2, 33, 64, 0.8) 55%,rgb(45, 95, 93,0.85)), url("../img/background4.jpeg");
	background-size: cover;
	background-position: center;
	/*view height*/
	height: 100vh;
	background-attachment: fixed;

}
.mobile-nav-icon{
	
	visibility: hidden;
}
.logo{
	width: 160px;
	float: left;
	margin-left: 70px;
	margin-top: 30px;
}
.main-nav{
	float: right;
	list-style: none;
}
.main-nav{
	margin-right: 50px;
	margin-top: 55px;
}
.main-nav li{
	display: inline-block;
	margin-right: 30px;	
}
.main-nav li a{
	text-decoration: none;
	color: white;
	font-size: 110%;
	font-weight: 700;
	transition: border-bottom 0.5s;
	padding:3px 0;
}
/*active là khi nhấn rồi*/
.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 3px solid #cccccc;
}

.heading-main-box{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-45%, -55%);
	width: 1140px;
}

/*--------------------ABOUT SECTION----------------------*/
/*--------------------ABOUT SECTION----------------------*/
/*--------------------ABOUT SECTION----------------------*/
.about-picture{
	position: relative;
}
.about-picture img{
	width: 200px;	
	height: 150px;
	border-radius: 20px;
	border: 4px solid #c2e1fd;
	/*x y độ mờ độ phóng rộng và màu*/
	box-shadow: 0px 5px 15px 5px #265077;
	transition: all 0.7s;
	
}
.picture-title{
	position: absolute;
	top: 50%;
	left: 45%;
	color: #E0EFFC;
	
	font-size: 150%;
	font-weight: bold;
	opacity: 0;
	transition: all 0.7s;
}

.about-picture:hover img,
.about-picture:active img{
	/*làm mờ và làm tối*/
	filter: brightness(55%) blur(1px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
	transform: translate(-65%,-50%);
	opacity: 1; 
}


/*--------------------PRODUCT SECTION----------------------*/
/*--------------------PRODUCT SECTION----------------------*/
/*--------------------PRODUCT SECTION----------------------*/

.products-section{
	background-color: #f4f4f4;
}
.products-section h2{
	margin-bottom: 60px;
}
.product-box{
	background-color: #eeefff;
	box-shadow: 3px 5px 10px #e0e0e0;
	width: 90%;
	height: 350px;
}
.product-price{
	color: #265077;
	font-size: 250%;
	font-weight: 300;
	text-align: center;
}
.product-price span{
	/*80% so với 250% của cha nó*/
	font-size: 80%;
	font-weight: 200p;
}
.product-box ul li{
	margin-left: 20%;
	list-style: none;
	margin-top:20px;
	margin-bottom:20px;
}
.product-box .btn{
	margin-left: 20%;

}


/*--------------------testimonials-section----------------------*/
/*--------------------testimonials-section----------------------*/
/*--------------------testimonials-section----------------------*/
section.testimonials-section{
	background-image: linear-gradient(45deg,rgb(2, 33, 64, 0.8) 55%,rgb(45, 95, 93,0.85)), url("../img/background2.jpeg");
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	height: 70vh;
}
.testimonials-section h2{
	margin-bottom: 70px;
}
blockquote{
	font-style: italic;
	line-height: 140%;
	color: white;
}
cite{
	display: block;
	color: #6b95bc;
	margin-top: 25px;
}
blockquote:before{
	content: '\201C';
	display: block;
	font-size: 400%;
	position: absolute;
	margin-left: -5px;
	margin-top: -10px;
}
cite img{
	height: 50px;
	border-radius: 50%;
	border: 2px solid #265077;
	vertical-align: middle;
	margin-right: 5px;
}

/*--------------------sponsors-section----------------------*/
/*--------------------sponsors-section----------------------*/
/*--------------------sponsors-section----------------------*/
.sponsors-section{
	background-color: #f4f4f4;
}

.sponsors-section h2{
	margin-bottom: 50px;
}

.sponsors-showcase{
	margin-left: 3%
}
.sponsors-showcase li{
	list-style: none;
	text-align: center;
	margin-bottom: 20px;
}
.logo-sponsor{
	width: 140px;
	cursor: pointer;
	transition: all 0.45s;
}

.logo-sponsor:hover,
.logo-sponsor:active{
	transform: scale(1.2);
}
figcaption{
	color:#265077;
	font-weight: 900;
	font-size: 120%;
	cursor: pointer;
}
/*--------------------contact form----------------------*/
/*--------------------contact form----------------------*/
/*--------------------contact form----------------------*/
.contact-section{
	background-image: linear-gradient(45deg,rgb(2, 33, 64, 0.8) 55%,rgb(45, 95, 93,0.85)), url("../img/backgroundbook.jpg");
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
}
.information{
	list-style: none;
	color:white;
	line-height: 200%;
	margin-top: 100px;
	margin-left: -20px;
	word-spacing: 1px;
	font-size:100%;
}

.information .small-icon{
	color: #427db4;
}

.information li i {
 	margin-right: 15px;
 }
.information .small-icon:hover,
.information .small-icon:active{
	transform: scale(1.5);
}
.social-icons{
	margin-top: 40px;
	margin-left: -60px;
}

.social-icons li{
	display: inline-block;
	font-size: 250%;
	margin-left: 40px;
	color: white;
}

 .social-icons li i{
	transform: all 1s;
	cursor: pointer;
}

.social-icons li i:hover,
.social-icons li i:active{
	transform: scale(1.3);
	color: #e67e22;
}

/*---------FORM---------*/
/*---------FORM---------*/
/*---------FORM---------*/
form{
	background-color: rgba(0,0,0,0.4);
	margin-left: 40%;
	width: 70%;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}
form .row{
	margin-bottom: 20px;
}
input,textarea{
	outline: none;
	padding: 10px;
	background-color: rgba(48,47,47,0.3);
	border: 1px solid rgba(70,68,68,0.7);
	margin-left: 30px;
	cursor:text;
	border-radius: 5px;
	color: white;
}
textarea{
	resize: none;
	height: 100px;
}
input[type="text"], input[type="email"], textarea{
	width: 90%;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	transition: all 0.3s;
}
input{
	height: 50px;
}
label{
	font-size: 150%;
	color:white;
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
	color:white;
	background-color: rgba(48,47,47,0.8);
}
.btn.submit{
	margin: 0 auto;
	margin-top: 20px;
}
/*chỉnh nuts submit */
form .row:last-child{
	text-align: center;
}
input[type="submit"]{
	font-weight: 700;
	font-size: 100%;
	border-radius: 5px;
	width: 60%;

}

/*--------------------footer----------------------*/
/*--------------------footer----------------------*/
/*--------------------footer----------------------*/

footer{
	text-align: center;
	background-color: #494949;
	color:white;
	padding: 20px;
}
